<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFILE</title>
</head>
<body>
    <h1>Welcome to Dfile</h1>
    <p>Your Personal cloud storage solution</p>
    <% if(user){ %>
        <p>Hello, <%= user.email %>!</p>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a> |
        <a href="/register">Register</a>
    <% } %>
</body>
</html>